name: CI Workflow Heart Failure

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_train:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout Kode
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # 3. Install Dependencies (Termasuk DagsHub)
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas scikit-learn mlflow dagshub

    # 4. Jalankan MLflow Project
    # Karena token sudah hardcoded di python, kita tinggal run saja
    - name: Run MLflow Training
      run: |
        cd MLProject
        python modelling.py
